/* ------------------------------ Sección Menú -------------------------------*/
.header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    transition: background-color 0.3s ease-in-out;
}
.header.scrolled {
    background-color: rgba(0, 0, 0, .9);
}
.header__contenedor {
    align-items: center;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease, transform 1s ease;
}
.header__contenedor.visible {
    opacity: 1;
    transform: translateY(0);
}
.header__contenedor-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.logo__contenedor {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}
.menu__icon,
.menu__cerrar {
    background-color: transparent;
    color: var(--color-gris-extra-claro);
    border: none;
    padding: 0;
    cursor: pointer;
    transition: transform 0.3s ease, color 0.3s ease;
}
.menu__icon {
    font-size: 3.5rem;
}
.menu__cerrar {
    font-size: 2.5rem;
}
.menu__icon:hover,
.menu__cerrar:hover {
    color: var(--color-primario);
    transform: scale(0.8);
}
.logo__img {
    width: 4.5rem;
    height: auto;
    object-fit: contain;
}
.logo__titulo-header {
    color: var(--color-gris-extra-claro);
}
.logo__titulo-header span {
    color: var(--color-secundario);
}

.nav__contenedor {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: -1.6rem;
    right: -1.6rem;
    height: 100vh;
    width: 45%;
    padding: 2.5rem 1.6rem;
    background-color: #1c1c1c;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    gap: 2rem;
    align-items: flex-end;
    transition: opacity 0.3s ease, transform 0.3s ease;
    transform: translateX(100%);
}
.nav__contenedor.visible {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}
.nav__lista {
    gap: 1.5rem;
    align-items: flex-end;
}
.nav__lista-elemento a {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--color-gris-extra-claro);
    transition: transform 0.3s ease;
}
.nav__lista-elemento a:hover {
    color: var(--color-primario);
    transform: scale(1.2);
}

/* ------------------------------ Sección Presentación ------------------------------*/
.presentacion {
    background: rgb(133,44,211);
    background: linear-gradient(301deg, rgba(133,44,211,1) 4%, rgba(0,0,0,1) 59%);
    height: 100vh;
    justify-content: center;
}
.presentacion__contenedor {
    gap: 1.6rem;
    align-items: center;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 1s ease, transform 1s ease;
}
.presentacion__foto {
    width: 45%;
}
.presentacion__detalle {
    gap: 1.6rem;
    text-align: center;
}
.presentacion__contenedor.visible {
    opacity: 1;
    transform: translateY(0);
}
.presentacion__detalle-titulo {
    font-size: 3rem;
}
.presentacion__detalle-descripcion {
    font-size: 1.7rem
}
.presentacion__redes {
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.presentacion__redes-icon a {
    color: var(--color-gris-extra-claro);
    font-size: 2.5rem;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}
.presentacion__redes-icon a:hover {
    transform: scale(1.3);
    color: var(--color-primario);
}
.boton-down {
    position: absolute; 
    bottom: 2.5rem;
    left: 50%;
    padding: 10px 16px;
    color: var(--color-gris-extra-claro);
    font-size: 2rem;
    background-color: var(--color-primario);
    border-radius: 50%;
    transform: translateX(-50%) translateY(-20px);
    opacity: 0;
    transition: 
        opacity 0.4s ease, 
        transform 0.4s ease, 
        box-shadow 0.4s ease;
    box-shadow: 0 5px 15px rgba(133, 44, 211, 0.5);
}
.boton-down.visible {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}
.boton-down:hover {
    transform: translateX(-50%) scale(1.2);
    box-shadow: 0 8px 20px rgba(133, 44, 211, 0.8);
}

/* ------------------------------ Sección sobre mí ----------------------------------*/
.sobre-mi__contenedor {
    gap: 1.6rem;
}
.sobre-mi__titulo {
    text-align: left;
}
.sobre-mi__ilustracion {
    text-align: center;
}
.sobre-mi__ilustracion img{
    width: 40%;
}
/*------------------------------ Sección de Habilidades y Aficiones ------------------------------*/
.habilidades-aficiones {
    gap: 3.2rem;
}
.lista {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem 1.6rem;
}
.lista-elemento {
    background: rgb(57,58,67);
    background: linear-gradient(162deg, rgba(57,58,67,0.6) 35%, rgba(18,18,20,1) 80%);
    border: 0.2rem solid var(--color-gris);
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.8rem;
    padding: 3.8rem 1.6rem 1.6rem 1.6rem;
}
.elemento__icono {
    height: 6rem;
    object-fit: contain;
}
.elemento__nombre {
    font-size: 1.6rem;
    font-weight: bold;
}

/*------------------------------ Sección de Formación --------------------------------*/
.formacion__contenedor {
    gap: 3.2rem;
}
.formacion__lista {
    gap: 1.6rem;
}
.formacion__lista-elemento {
    background: rgb(133,44,211);
    background: linear-gradient(301deg, rgba(133,44,211,1) 4%, rgba(0,0,0,1) 59%);
    border: 0.1rem solid var(--color-primario);
    padding: 1.5rem;
    gap: 0.8rem;
}
.elemento__contenedor-img {
    display: flex;
    background-color: var(--color-blanco);
    justify-content: center;
    align-items: center;
    height: 11.8rem;
}
.img__institucion {
    width: 26%;
}
.elemento__contenedor-descripcion {
    text-align: center;
    gap: 0.8rem;
}
.descripcion__nombre {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--color-gris-extra-claro);
    font-family: var(--fuente-francois-one);
}

/*------------------------------ Sección de Proyectos --------------------------------*/
.proyectos {
    padding: 3.2rem;
    gap: 1.6rem;
}
.proyectos__contenedor {
    gap: 4rem;
}
.proyectos__contenedor-elemento {
    gap: 1.6rem;
}
.elemento__contenedor-detalle,
.detalle__contenedor-descripcion {
    gap: 0.8rem;
}
.descripcion__titulo {
    font-size: 1.6rem;
}
.descripcion__subtitulo {
    font-size: 1.4rem;
}
.detalle__contenedor-enlaces {
    display: flex;
    gap: 1.6rem;
}

/*------------------------------ Sección de Contacto ---------------------------------*/
.contacto__contenedor {
    gap: 3.2rem;
}
.contacto__contenedor img {
    display: none;
}
.contacto__contenedor-informacion {
    gap: 3.2rem;
}
.contacto__header {
    gap: 0.8rem;
}
.informacion__header-titulo {
    text-align: left;
}
.informacion__header-descripcion {
    font-size: 1.6rem;
}
.contacto__formulario {
    gap: 3.2rem;
}
.contacto__formulario-campo {
    position: relative;
}
.campo__input {
    width: 100%;
    height: 5.6rem;
    background-color: transparent;
    color: var(--color-gris-extra-claro);
    font-size: 1.6rem;
    padding: 1.6rem 1.2rem;
    border: 2px solid var(--color-gris-claro);
    border-radius: 0.5rem;
}
.campo__label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.2rem;
    font-size: 1.6rem;
    color: var(--color-gris-claro);
    transition: 0.2s;
    pointer-events: none;
}
.campo__label.textarea {
    top: 18%;
}
.campo__input:focus{
    outline: none;
    border: 2px solid var(--color-primario);
}
.campo__input:focus ~ .campo__label,
.campo__input:not(:placeholder-shown) ~ .campo__label {
    top: 0;
    font-size: 1.4rem;
    padding: 0 1.2rem;
    color: var(--color-gris-extra-claro);
    background-color: var(--color-gris-oscuro);
}
.campo__input.textarea {
    resize: none;
    height: 13.3rem;
    font-size: 1.6rem; 
}
.contacto__formulario-boton {
    align-self: flex-start;
    border: none;
    
}

/*------------------------------ Boton-up -----------------------------------------------*/
.boton-up {
    position: fixed;
    bottom: 6rem;
    right: 3rem;
    padding: 1rem;
    width: 5rem;
    height: 5rem;
    text-align: center;
    background-color: var(--color-primario);
    color: var(--color-gris-extra-claro);
    font-size: 2rem;
    cursor: pointer;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(133,44,211, 0.5);
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.5s ease, box-shadow 0.5s ease;
}
.boton-up:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 10px rgba(133,44,211, 0.8);
}

/*------------------------------ Footer -----------------------------------------------*/
.footer {
    background-color: var(--color-negro);
    justify-content: center;
    align-items: center;
}
.footer__contenedor {
    padding-top: 4rem;
    width: 100%;
    gap: 4rem;
    align-items: center;
}
.footer__contenedor-detalle,
.footer__contenedor-redes {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer__titulo {
    color: var(--color-primario);
    font-weight: 300;
    text-align: center;
}
.detalle__lista {
    color: var(--color-gris);
    text-align: center;
}
.redes__lista {
    display: flex;
    justify-content: center;
    gap: 2rem;
}
.redes__lista-elemento a {
    color: var(--color-gris);
    font-size: 3rem;
    display: inline-block;
    transition: transform 0.3s ease, color 0.3s ease;
}
.redes__lista-elemento a:hover {
    transform: scale(1.3);
    color: var(--color-primario);
}
.logo__contenedor-footer {
    order: -1;
}
.logo__titulo-footer {
    color: var(--color-primario);
}
.logo__titulo-footer span {
    color: var(--color-gris);
}
.footer__derecho-de-autor {
    color: var(--color-gris);
}
