/* Este repositório base fué creado para ayudarte en caso que no sepas como comenzar, recuerda que el portafolio es tu carta de presentación y debes darle tu cara, por eso te invitamos a personalizarlo según tu estilo y preferencias no te limites apenas al layout propuesto en figma  
*/
:root {
    --color-de-fondo: #F5F5F5;
    --color-primario: #ffffff;
    --color-secundario: #EAF2FD;
    --color-placeholder: #A2A2A2;
    --color-borde-input: #C8C8C8;
    --color-terciario: #2A7AE4;
    --color-de-link: #000000;
}
html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem = 10px */    
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    background-color: var(--color-de-fondo);
    font-family: 'Raleway', sans-serif;
    line-height: 1.6;
    font-size: 1.6rem;
}

/** Globales **/
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    padding: 1.6rem;
}
a {
    text-decoration: none;
}
h2,h3,p {
    margin: 0;
}
h2 {
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
}
p {
    font-size: 1.4rem;
}
ol, ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}
img {
    max-width: 100%;
}
.cabecera,
.navegacion,
.navegacion__lista,
.presentacion,
.habilidades,
.aficiones,
.proyectos,
.footer,
.presentacion__contenedor,
.sobre-mi__contenido,
.habilidades__elemento,
.aficiones__elemento,
.formacion__contenido,
.formacion__lista,
.formacion__elemento,
.formacion__descripcion,
.contacto__contenido,
.contacto__informacion,
.contacto__header,
.contacto__formulario {
    display: flex;
    flex-direction: column;
}
.sobre-mi,
.formacion,
.contacto {
    background-color: var(--color-secundario);
}
.formacion,
.contacto {
    padding: 1.6rem;
}

/* ------------------------------ Sección Menú -------------------------------*/
.header {
    background-color: var(--color-primario);
    position: sticky;
    top: 0;
}
.cabecera {
    align-items: center;
}
.cabecera__contenedor {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.cabecera__logo_contenedor {
    display: flex;
    gap: 0.25rem;
}
.menu_icon {
    height: 1.7rem;
    cursor: pointer;
}
.cabecera__logo {
    width: 2.4rem;
    height: auto;
    object-fit: contain;
}
.cabecera__titulo {
    font-size: 1.6rem;
    text-align: center;
    margin: 0;
}
.navegacion {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 45%;
    padding: 2rem 1.6rem;
    background-color: #1c1c1c;
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    gap: 1rem;
    align-items: flex-end;
    transition: opacity 0.3s ease;
}
.visible {
    opacity: 1;
    visibility: visible;
}
.navegacion__icon{
    height: 1.7rem;
    cursor: pointer;
}
.navegacion__lista {
    gap: 1rem;
    align-items: flex-end;
}
.navegacion__elemento a {
    color: var(--color-primario);
    font-size: 1.4rem;
}

/* ------------------------------ Sección Presentación ------------------------------*/
.presentacion {
    gap: 1.6rem;
}
.presentacion__foto {
    width: 30%;
}
.presentacion__contenedor {
    gap: 1.6rem;
}
.presentacion__titulo {
    text-align: left;
}
.redes {
    display: flex;
    justify-content: space-between;
}
.redes__img a {
    font-size: 1.4rem;
}
.redes__img img {
    width: 1.6rem;
    height: auto;
    vertical-align: middle;
}

/* ------------------------------ Sección sobre mí ----------------------------------*/
.sobre-mi__contenido {
    gap: 1.6rem;
}
.sobre-mi__titulo {
    text-align: left;
}
.sobre-mi__firma {
    height: 5.2rem;
    width: 14rem;
}

/*------------------------------ Sección de Habilidades y Aficiones ------------------------------*/
.habilidades,
.aficiones {
    gap: 3.2rem;
}
.habilidades__lista,
.aficiones__lista {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3.2rem 1.6rem;
}
.habilidades__elemento,
.aficiones__elemento {
    background-color: var(--color-primario);
    justify-content: flex-end;
    align-items: flex-start;
    gap: 0.8rem;
    padding: 3.8rem 1.6rem 1.6rem 1.6rem;
}
.habilidades__icono,
.aficiones__icono {
    height: 3.7rem;
    object-fit: contain;
}
.habilidades__nombre,
.aficiones__nombre {
    font-size: 1.6rem;
    font-weight: bold;
}

/*------------------------------ Sección de Formación --------------------------------*/
.formacion__contenido {
    gap: 3.2rem;
}
.formacion__lista {
    gap: 1.6rem;
}
.formacion__elemento {
    gap: 0.8rem;
}
.formacion__elemento_icono {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 11.8rem;
    background-color: var(--color-primario);
}
.formacion__icono {
    width: 30%;
}
.formacion__descripcion {
    gap: 0.8rem;
}
.formacion__nombre {
    font-size: 1.6rem;
    font-weight: bold;
}

/*------------------------------ Sección de Proyectos --------------------------------*/
.proyectos {
    padding: 3.2rem;
    gap: 1.6rem;
}

/*------------------------------ Sección de Contacto ---------------------------------*/
.contacto__contenido {
    gap: 3.2rem;
}
.contacto__informacion {
    gap: 3.2rem;
}
.contacto__contenido img {
    display: none;
}
.contacto__header {
    gap: 0.8rem;
}
.contacto__titulo {
    text-align: left;
}
.contacto__descripcion {
    font-size: 1.6rem;
}
.contacto__formulario {
    gap: 3.2rem;
}
.contacto__grupo {
    position: relative;
}
.contacto__campo {
    width: 100%;
    height: 5.6rem;
    font-size: 1.6rem;
    padding: 2.8rem 1.2rem 0.8rem;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    border-bottom: 2px solid var(--color-borde-input);
    border-radius: 0.5rem;
}
.contacto__label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.2rem;
    font-size: 1.6rem;
    color: var(--color-placeholder);
    transition: 0.2s;
    pointer-events: none;
}
.contacto__campo:focus{
    outline: none;
    border-bottom: 2px solid var(--color-terciario);
}
.contacto__campo:focus ~ .contacto__label,
.contacto__campo:not(:placeholder-shown) ~ .contacto__label {
    top: 1.5rem;
    font-size: 1.2rem;
    color: var(--color-terciario);
}
.contacto__campo--textarea {
    resize: none;
    height: 13.3rem;
    padding-top: 3.7rem;
    font-size: 1.6rem;
    
}
.contacto__campo--textarea~.contacto__label {
    top: 1.5rem;
    transform: none;
}
.contacto__campo--textarea:focus~.contacto__label,
.contacto__campo--textarea:not(:placeholder-shown) ~ .contacto__label {
    top: 1.2rem;
}
.contacto__boton {
    height: 4rem;
    align-self: flex-start;
    padding: 0.8rem 1.6rem;
    font-size: 1.4rem;
    border: none;
    background-color: var(--color-terciario);
    color: #fff;
    cursor: pointer;
}

/*------------------------------ Footer -----------------------------------------------*/
.footer {
    background-color: var(--color-primario);
    height: 10.2rem;
    justify-content: center;
    align-items: center;
}
.footer p {
    margin: 0;
    font-size: 1.6rem;
}

/* ------------------------------ Responsividad ---------------------------------------*/
/* Tablets y pantallas más grandes */
@media (min-width: 768px) {
    .contenedor {
        padding: 3.2rem;
    }
    .formacion,
    .contacto {
        padding: 0;
    }
    .navegacion {
        padding: 3.2rem;
    }

    /* ------------------------------ Sección Presentación ------------------------------*/
    .presentacion {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 3.2rem;
        align-items: center;
        
    }
    .presentacion__foto {
        order: 2;
        width: 100%;
    }
    .presentacion__contenedor {
        order: 1;
        gap: 0.8rem;
    }
    .redes {
        justify-content: flex-start;
        gap: 3.2rem;
    }
    .redes__img a {
        font-size: 1.6rem;
    }

    /*------------------------------ Sección de Habilidades y Aficiones ------------------------------*/
    .habilidades__lista,
    .aficiones__lista {
        grid-template-columns: repeat(3, 1fr);
    }

    /*------------------------------ Sección de Formación --------------------------------*/
    .formacion__lista {
        flex-direction: row;
    }
}

/* Pantallas grandes */
@media (min-width: 1024px) {
    h2 {
        font-size: 3.2rem;
    }
    p {
        font-size: 1.6rem;
    }
    /* ------------------------------ Sección Menú -------------------------------*/
    .cabecera {
        flex-direction: row;
        white-space: nowrap;
    }
    .cabecera__contenedor {
        padding: 0;
    }
    .navegacion {
        position: unset;
        visibility: visible;
        background-color: transparent;
        box-shadow: none;
        opacity: 1;
        padding: 0;
        height: auto;
        width: auto;
    }
    .navegacion__lista {
        flex-direction: row;
        justify-content: flex-end;
        gap: 3.2rem;
        margin-top: 0;
    }
    .navegacion__elemento a {
        color: var(--color-de-link);
    }
    .menu_icon,
    .navegacion__icon {
        display: none;
    }

    /* ------------------------------ Sección Presentación ------------------------------*/
    .presentacion {
        grid-template-columns: 2fr 1fr;
        gap: 1.7rem;
    }
    .presentacion__contenedor {
        gap: 2.4rem;
        padding: 6.1rem 0;
    }
    .presentacion__titulo {
        font-size: 5.2rem;
        line-height: normal;
    }
    .presentacion__subtitulo {
        font-size: 2.2rem;
    }
    .redes {
        justify-content: flex-start;
        gap: 3.2rem;
    }
    
    .sobre-mi__contenido {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1.6rem;
        padding: 6.4rem 3.2rem;
    }

    .sobre-mi__titulo,
    .sobre-mi__texto,
    .sobre-mi__firma {
        grid-column: 1 / 2; /* Coloca todos los elementos en la primera columna */
    }
    .habilidades__lista, 
    .aficiones__lista {
        display: flex;
        justify-content: space-between;
        gap: 1.6rem;
        height: 17.4rem;
    }
    .habilidades__elemento,
    .aficiones__elemento {
        flex: 1;
    }

    .aficiones {
        padding: 8.8rem 3.2rem;
    }
    .formacion__contenido {
        padding: 8.2rem 3.2rem;
    }
    .formacion__elemento_icono {
        height: 28.6rem;
    }
    .formacion__icono {
        width: 55%;
    }
    .formacion__nombre {
        font-size: 2.2rem;
    }


    .contacto__contenido {
        padding: 12.8rem 3.2rem 6.4rem 3.2rem;
        display: grid;
        grid-template-columns: 1fr 2fr; /* Dos columnas: imagen y contenido */
        gap: 1.6rem;
    }
    .contacto__contenido img {
        display: block;
        height: 100%;
    }
    .contacto__informacion {
        gap: 3.2rem;
    }
}
